components/__pycache__/add_btn.cpython-312.pyc
components/__pycache__/prompt_input.cpython-312.pyc
components/__pycache__/send_btn.cpython-312.pyc
components/__pycache__/add_btn.cpython-312.pyc
components/__pycache__/prompt_input.cpython-312.pyc
components/__pycache__/send_btn.cpython-312.pyc
services/__pycache__/open_camera.cpython-312.pyc
services/__pycache__/open_camera.cpython-312.pyc
src/__pycache__/camera.cpython-312.pyc
src/__pycache__/home.cpython-312.pyc
controllers/__pycache__/user_control.cpython-312.pyc
core/__pycache__/routing.cpython-312.pyc
core/__pycache__/state.cpython-312.pyc
