flet==0.86.3
flet-camera==0.86.3
flet-charts==0.86.3
flet-cli==0.86.3
flet-code-editor==0.86.3
flet-desktop==0.86.3
flet-permission-handler==0.86.3
flet-web==0.86.3
litert-lm-api==0.16.1
nest-asyncio2==1.7.2
